{# template for systemd service file #}

[Unit]
Description={{ description }}
After={{ after }}

[Service]
Environment={{ environment_var }}
Type={{ type }}
ExecStart={{ exec_start }}
User={{ user }}
[Install]
WantedBy={{ wanted_by }}
